@CHARSET "UTF-8";

@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css" );

/**********************************/
/*  rancre common CSS  */
/*********************************/


* {
	box-sizing: border-box !important;
}

a {
	text-decoration: none !important;
}

.space {
	border-top: 20px;
}

.space-hs {
	border-top: 10px;
}

.li-right {
	float: right;
}

.pTop {
	padding-top: 10px;
}

.pTop2 {
	padding-top: 20px;
}

.pTop3 {
	padding-top: 30px;
}

.pRight {
	padding-right : 10px;
}

.pBottom {
	padding-bottom : 10px;
}

.pBottom2 {
	padding-bottom : 20px;
}

.pBottom3{
	padding-bottom : 30px;
}

.txt-center {
	text-align : center;
}

.txt-left {
	text-align : left;
}

.txt-right {
	text-align : right;
}

.txt-vertical{
	height : 50%;
}

.display-flex{
	display: flex;
}

.display-block {
	display : block;
}

.inline-flex {
	display : inline-flex;
}

.float-right{
	float : right;
}

.float-left{
	float : left;
}

.v10 {
	height: 10%;
}

.v20{
	height:20%;
}

.v30{
	height:30%;
}
.v40{
	height:40%;
}

.v50{
	height:50%;
}

.commonA{
	text-decoration: none !important;
	color: #f11834 !important;
}

.commonA:hover {
	text-decoration: none !important;
	color: #f11834 !important;
}

/**********************************/
/*  button collection  */
/*********************************/

.commonBtn {
	width: auto;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	color: #f11834;
}

.commonBtn a{
	text-decoration: none !important;
	color: #f11834 !important;
}

.commonBtn a:hover {
	text-decoration: none !important;
	color: #f11834 !important;
}

.inputJoinBtn {
	background-color: #4a3c89;
	border: 0;
	width: 100%;
	height: 40px;
	font-size: 1.25em;
	color: #fff;
}

.rankRowBtn {
	display: inline-block;
}

.btnChnGo {
	width: 120px;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	color: #f11834;
}

.btnListGo {
	width: 120px;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	color: #f11834;
}

.rankMainRowBtn {
	display: inline-block;
}

/**********************************/
/*  subnav  */
/*********************************/

.subnav {
	background-color: rgba(255, 255, 255, 1) !important;
}

.subNav-tab {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-ms-flex-align: center;
}

div a.subnav-link {
	text-decoration: none;
	color: #b4b4b4;
	font-weight: bold;
}

a.subnav-link.active {
	text-decoration: none;
	color: #707070;
	font-weight: bold;
}

a.subnav-link:hover {
	text-decoration: none;
	color: #707070;
}

.subNav-content {
	display: none;
}

.subNav-content.active {
	display: block;
}

/**********************************/
/*  join  */
/*********************************/
.join {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.inputJoin {
	width: 100%;
	height: 40px;
}

.joinBox {
	margin: 0 0 20px;
	width: 100%;
	height: 40px;
}

.deepFont {
	font-size: 2.5em;
	color: #fff;
}



/**********************************/
/*  font awesome customize  */
/*********************************/
.fa-user-circle-o {
	color: #000 !important;
}

.fa-commenting-o {
	color: #000 !important;
}

.fa-pencil {
	color: #000 !important;
}

.title-text {
	color: white;
}

/**********************************/
/*  login  */
/*********************************/
.login {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.login .brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 3.25rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: bold;
	color: #F11834 !important;
}

.login-Form {
	width: 480px;
	height: 480px;
	padding-top: 50px;
	background-color: #fff;
}

/**********************************/
/*  main - list type using CSS */
/*********************************/

.mainList {
	padding-top: 20px;
	width: 100%;
	min-height: 850px;
	color: #ffffff !important;
}

.listHeader {
	padding: 0 30 0 30px;
	display: inline;
}

.imgChnList {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 80px !important;
	max-width: 80px !important;
	border-radius: 80px !important;
}

.rankRow {
	display: inline-block;
	width: 170px;
	float: lfet;
	margin-right :10px;
}

.rankRow2 {
	display: inline-block;
	width: 120px;
	float: lfet;
}

.rankRowImg {
	display: inline-block;
	width: 48px;
	padding-right: 80px;
	padding-left: 10px;
}

.rankImg {
	width: 48px;
	padding-right: 80px;
	padding-left: 10px;
}

.chnDtlGo {
	text-decoration: none;
	color: #f11834;
}

.chnDtlGo:hover {
	text-decoration: none;
	color: #f11834;
}

.rankBottom {
	margin: auto;
	width: 50%;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-align: center;
}


.txt-align-right {
	text-align: right;
}

.fntRank {
	font-weight: 1.2em;
}

.rankMainRow {
	display: inline-block;
	width: 156px;
	float: lfet;
	maring-right : 10px;
}

.rankMainRow2 {
	display: inline-block;
	width: 110px;
	float: lfet;
}

.rankMainRowCnt {
	display: inline-block;
	width: 100px;
	padding-left: 10px;
}

.rankMainRowImg {
	display: inline-block;
	width: 48px;
	padding-right: 80px;
}

.rankMainCnt {
	width: 60%;
}

/**********************************/
/*  footer  */
/*********************************/

.ranFooter {
	margin-top: 70px;
	background-color: #f11834;
	width: 100%;
	background-color: #f11834;
	width: 100%;
	height: 200px;
}

.footer-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.footer-brand:hover, .footer-brand:focus {
	color: #fff;
	text-decoration: none;
}

.footer-detail {
	color: #fff;
	font-weight: bold;
}


/**********************************/
/*  Channel Detail page  */
/*********************************/

.chnDtlTop {
	display: flex;
}

.chnDtlImg {
	display: inline-block;
	width: 80px;
	margin-right: 40px;
}

.chnDtlName {
	font-weight: bold;
	font-size: 1.5em;
}

/* 채널 디테일 sub tabs*/

.sub-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Float the list items side by side */

.sub-tabs li {
	float: left;
}

/* Style the links inside the list items */

.sub-tabs li a{
	display: inline-block;
	color: #b4b4b4;
	text-align: center;
	text-decoration: none;
	padding-right: 16px;
	font-size: 1.1em;
	font-weight : bold;
	transition: 0.3s;
}

/* Style the tab content */

.sub-tabcontent {
	display: none;
	padding: 6px 12px;
}

ul.sub-tabs li a.active {
	color:#000;
}

.sub-tabcontent.active {
	display: block;
}

.uploadVideo {
	margin:0 auto;
	width : auto;
	padding-right:16px;
}

.uploadVideo-right {
	margin:0 auto;
	width : auto;
}

.comercialVideo {
	margin:0 auto;
	width : auto;
	padding-right:16px;
}

.comercialVideo-right {
	margin:0 auto;
	width : auto;
}

.non-comercials{
	height : 260px;
}

.non-reviews{
	height : 260px;
}

.review {
	padding : 25px 50px;
	border : 1px solid #eeeeee;	
	border-radius : 5px;
	box-shadow : 1px 1px #eeeeee;
	min-height : 290px;
	position : relative;
	display : block;
	overflow : auto;
}

.review-detail {
	claer : both;
}

.review-row {
	font-weight : bold;
	padding-right : 40px;
	position : relative;
	height : auto;
}

.review-row .idx {
	padding-bottom : 10px;
}

.review-stat {
	padding-right : 40px;
	min-wdith : 150px;
	position : relative;
	height : auto;
}

.review-stat .stat {
	padding-bottom : 10px;
}

.bottom-text .recommend{
	float : left;
	margin-right : 30px;
}

.bottom-text .answer {
	float : left;
}

.review-text .txt {
	min-height : 150px;
	width : 710px;
	position : relative;
}





