@CHARSET "UTF-8";

@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css" );

/**********************************/
/*  rancre common CSS  */
/*********************************/
* {
	box-sizing: border-box !important;
}

a {
	text-decoration: none !important;
}

.space {
	border-top: 20px;
}

.space-hs {
	border-top: 10px;
}

.pTop-half {
	padding-top: 5px;
}

.pTop {
	padding-top: 10px;
}

.pTop2 {
	padding-top: 20px;
}

.pTop3 {
	padding-top: 30px;
}

.pTop4 {
	padding-top: 40px;
}

.pTop5 {
	padding-top: 50px;
}

.pTop10 {
	padding-top: 100px;
}

.pRight {
	padding-right: 10px;
}

.pRight2 {
	padding-right: 20px;
}

.pRight3 {
	padding-right: 30px;
}

.pRight4 {
	padding-right: 40px;
}

.pRight10 {
	padding-right: 100px;
}

.pLeft {
	padding-left: 10px;
}

.pLeft2 {
	padding-left: 20px;
}

.pLeft3 {
	padding-left: 30px;
}

.pLeft4 {
	padding-left: 40px;
}

.pBottom {
	padding-bottom: 10px;
}

.pBottom2 {
	padding-bottom: 20px;
}

.pBottom3 {
	padding-bottom: 30px;
}

.mTop {
	margin-top: 10px;
}

.mTop2 {
	margin-top: 20px;
}

.mTop3 {
	margin-top: 30px;
}

.mTop4 {
	margin-top: 40px;
}

.mBottom {
	margin-bottom: 10px;
}

.mRight {
	margin-right: 10px;
}

.mLeft {
	margin-left: 10px;
}

.txt-center {
	text-align: center;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-vertical {
	height: 50%;
}

.display-flex {
	display: flex;
}

.display-block {
	display: block;
}

.display-intial {
	display: initial;
}

.display-none {
	display: none;
}

.display-inherit {
	display: inherit;
}

.inline-flex {
	display: inline-flex;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.vertical-bottom {
	vertical-align: bottom;
}

.vertical-middle {
	vertical-align: middle;
}

.v10 {
	height: 10%;
}

.v20 {
	height: 20%;
}

.v30 {
	height: 30%;
}

.v40 {
	height: 40%;
}

.v50 {
	height: 50%;
}

.w10 {
	width: 10%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w100 {
	width: 100%;
}

.commonA {
	text-decoration: none !important;
	color: #f11834 !important;
}

.commonA:hover {
	text-decoration: none !important;
	color: #f11834 !important;
}

.common-A {
	text-decoration: none !important;
	color: #747474 !important;
}

.common-A:hover {
	text-decoration: none !important;
	color: #747474 !important;
}

.common-white-A {
	color : #fff;
}

.common-white-A:hover{
	text-decoration : none !important;
	color : #fff;
}

.primary-color {
	color: #f11834 !important;
}

.common-brand {
	font-size: 4rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: bold;
	color: #F11834 !important;
}

.common-alert-txt {
	color: #747474;
	font-size: 1.5em;
}

/**********************************/
/*  button collection  */
/*********************************/
.commonBtn {
	width: auto;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	color: #f11834;
	cursor : pointer;
}

.commonBtn:focus {
	outline: none;
}

.commonBtn a {
	text-decoration: none !important;
	color: #f11834 !important;
}

.commonBtn a:hover {
	text-decoration: none !important;
	color: #f11834 !important;
}

.commonReverseBtn {
	width: auto;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	background-color: #f11834;
	color: #fff;
}

.commonReverseBtn:focus {
	outline: none;
}

.commonReverseBtn a {
	text-decoration: none !important;
	color: #fff !important;
}

.commonReverseBtn a:hover {
	text-decoration: none !important;
	background-color: #f11834 !important;
	color: #fff;
}

.common-wide-Btn {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	background-color: #f11834;
	color: #fff;
	font-weight: bold;
}

.common-wide-Btn:focus {
	outline: none;
}

.common-wide-Btn a {
	text-decoration: none !important;
}

.common-wide-Btn a:hover {
	text-decoration: none !important;
}

.common-wide75-Btn {
	width: 75%;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	background-color: #f11834;
	color: #fff;
	font-weight: bold;
	cursor : pointer;
}

.common-wide75-Btn:focus {
	outline: none;
}

.common-wide75-Btn a {
	text-decoration: none !important;
}

.common-wide75-Btn a:hover {
	text-decoration: none !important;
}

.common-wide20Reverse-Btn {
	width: 20%;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	background-color: #fff;
	color: #f11834;
	cursor : pointer;
}

.common-wide20Reverse-Btn:focus {
	outline: none;
}

.common-wide20Reverse-Btn a {
	text-decoration: none !important;
	color: #fff !important;
}

.common-wide20Reverse-Btn a:hover {
	text-decoration: none !important;
	color: #fff;
}

.common-wide85Reverse-Btn {
	width: 85%;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 30px;
	background-color: #fff;
	color: #f11834;
	cursor : pointer;
}

.common-wide85Reverse-Btn:focus {
	outline: none;
}

.common-wide85Reverse-Btn a {
	text-decoration: none !important;
	color: #fff !important;
}

.common-wide85Reverse-Btn a:hover {
	text-decoration: none !important;
	color: #fff;
}

.companyCheckBtn {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	background-color: #f11834;
	color: #fff;
	font-weight: bold;
}

.rankRowBtn {
	display: inline-block;
}

.btnChnGo {
	width: 120px;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	color: #f11834;
}

.btnListGo {
	width: 120px;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 36px;
	color: #f11834;
}

.btnListGo:focus {
	outline: none !important;
}

.rankMainRowBtn {
	display: inline-block;
}

.radio-item {
	display: inline-block;
	position: relative;
	padding: 0 6px;
}

.radio-item input[type='radio'] {
	display: none;
}

.radio-item label {
	color: #000;
	font-weight: normal;
}

.radio-item label:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: 5px;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 11px;
	border: 2px solid #f11834;
	background-color: transparent;
}

.radio-item input[type=radio]:checked+label:after {
	border-radius: 11px;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 10px;
	content: " ";
	display: inline-block;
	background: #f11834;
}

.common-Small-Btn {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 30px;
	color: #f11834;
}

.common-Small-Btn:focus {
	outline: none;
}

.common-Small-Btn a {
	text-decoration: none !important;
	color: #f11834 !important;
}

.common-Small-Btn a:hover {
	text-decoration: none !important;
	color: #f11834 !important;
}

.common-Small-Reverse-Btn {
	width: 100%;
	border-radius: 8px;
	border: 1px solid #f11834;
	font-size: 1em;
	height: 30px;
	background-color: #f11834;
	color: #fff;
}

.common-Small-Reverse-Btn:focus {
	outline: none;
}

.common-Small-Reverse-Btn a {
	text-decoration: none !important;
}

.common-Small-Reverse-Btn a:hover {
	text-decoration: none !important;
}

/**********************************/
/*  subnav  */
/*********************************/
.subnav {
	background-color: rgba(255, 255, 255, 1) !important;
}

.subNav-tab {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-ms-flex-align: center;
}

div a.subnav-link {
	text-decoration: none;
	color: #b4b4b4;
}

a.subnav-link.active {
	text-decoration: none;
	color: #272727;
}

a.subnav-link:hover {
	text-decoration: none;
	color: #707070;
}

.subNav-content {
	display: none;
}

.subNav-content.active {
	display: block;
}

/**********************************/
/*  join  */
/*********************************/
.join {
	padding-right: 240px;
	padding-left: 240px;
}

.join-Permit {
	padding-right: 240px;
	padding-left: 240px;
}

.join-Permit-Brand {
	font-size: 4rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: bold;
	color: #F11834 !important;
}

.ipt-Member-Join {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Member-Join:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Company-Number {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Company-Number:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Company-Check {
	width: 100%;
}

.inputJoin {
	width: 100%;
	height: 40px;
}

.ipt-joinPermit {
	width: 100%;
}

.ipt-Select-Join {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Select-Join:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Select-Option {
	color: #b4b4b4;
}

.ipt-Select-Option:checked {
	color: #000;
}

.ipt-commercial-ex {
	padding-right: 20px;
}

.join-commonTxt {
	font-weight: bold;
	padding-bottom: 5px;
}

.joinPermit-commonTxt {
	font-weight: bold;
}

.joinPermit-commonSubTxt {
	color: #707070;
	padding-bottom: 5px;
}

/**********************************/
/*  font awesome customize  */
/*********************************/
.fa-user-circle-o {
	color: #000 !important;
}

.fa-commenting-o {
	color: #000 !important;
}

.fa-pencil {
	color: #000 !important;
}

.title-text {
	color: white;
}

/**********************************/
/*  login  */
/*********************************/
.login {
	padding-right: 240px;
	padding-left: 240px;
}

.login-brand {
	font-size: 4rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: bold;
	color: #F11834 !important;
	padding-left: 42px;
}

.brand-color {
	color: #f11834;
}

.gray-color {
	color: #707070;
}

.login-Redirect a {
	color: #707070;
}

.login-Redirect a:hover {
	color: #707070;
}

.login-type-corp {
	border: 0;
	border-bottom: 1px solid #f11834;
	font-weight: bold;
}

.login-commonTxt {
	font-weight: bold;
	padding-bottom: 5px;
}

.ipt-login {
	width: 100%;
	display: inline-block;
}

.ipt-Member-Email {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Member-Email:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Member-Password {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Member-Password:focus {
	border: 1px solid #f11834;
	outline: none;
}

/**********************************/
/*  main - list type using CSS */
/*********************************/
.mainList {
	padding-top: 20px;
	width: 100%;
	min-height: 850px;
	color: #ffffff !important;
}

.listHeader {
	padding: 0 30 0 30px;
	display: inline;
}

.imgChnList {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 80px !important;
	max-width: 80px !important;
	border-radius: 80px !important;
}

.rankRow {
	display: inline-block;
	width: 170px;
	float: lfet;
	margin-right: 10px;
}

.rankRow2 {
	display: inline-block;
	width: 120px;
	float: lfet;
}

.ranc-Row {
	display: inline-block;
	width: 198px;
	margin-right: 10px;
}

.ranc-Row2 {
	display: inline-block;
	width: 230px;
	margin-right: 10px;
}

.rankRowImg {
	display: inline-block;
	width: 48px;
	padding-right: 80px;
	padding-left: 10px;
}

.rankImg {
	width: 48px;
	padding-right: 80px;
	padding-left: 10px;
}

.chnDtlGo {
	text-decoration: none;
	color: #f11834;
	outline : none;
}

.chnDtlGo:hover {
	text-decoration: none;
	color: #f11834;
}

.rankBottom {
	margin: auto;
	width: 50%;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-align: center;
}

.txt-align-right {
	text-align: right;
}

.fntRank {
	font-weight: 1.2em;
}

.ranc-Main-Row {
	display: inline-block;
	width: 190px;
}

.ranc-Main-Row2 {
	display: inline-block;
	width: 200px;
}

.rankMainRowCnt {
	display: inline-block;
	width: 100px;
	padding-left: 10px;
}

.rankMainRowImg {
	display: inline-block;
	width: 48px;
	padding-right: 80px;
}

.rankMainCnt {
	width: 60%;
}

/**********************************/
/*  footer  */
/*********************************/
.ranFooter {
	margin-top: 70px;
	background-color: #f11834;
	width: 100%;
	background-color: #f11834;
	width: 100%;
	height: 200px;
}

.footer-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.footer-brand:hover, .footer-brand:focus {
	color: #fff;
	text-decoration: none;
}

.footer-detail {
	color: #fff;
}

/**********************************/
/*  Channel Detail page  */
/*********************************/
.chnDtlTop {
	display: flex;
}

.chnDtlImg {
	display: inline-block;
	width: 80px;
	margin-right: 40px;
}

.chnDtlName {
	font-weight: bold;
	font-size: 1.5em;
}

.detail .title {
	width: 210px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* 채널 디테일 sub tabs*/
.sub-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Float the list items side by side */
.sub-tabs li {
	float: left;
}

/* Style the links inside the list items */
.sub-tabs li a {
	display: inline-block;
	color: #b4b4b4;
	text-align: center;
	text-decoration: none;
	padding-right: 16px;
	font-size: 1.1em;
	font-weight: bold;
	transition: 0.3s;
}

/* Style the tab content */
.sub-tabcontent {
	display: none;
	padding: 6px 12px;
}

ul.sub-tabs li a.active {
	color: #000;
}

.sub-tabcontent.active {
	display: block;
}

.upload-Video {
	margin: 0 auto;
	width: 20%;
	cursor : pointer;
}

.commercialVideo {
	margin: 0 auto;
	width: auto;
	padding-right: 16px;
	cursor : pointer;
}

.detail .count {
	width: 210px;
}

.commercialVideo-right {
	margin: 0 auto;
	width: auto;
}

.non-commercials {
	height: 260px;
}

.non-reviews {
	height: 260px;
}

.review {
	padding: 25px 50px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	box-shadow: 1px 1px #eeeeee;
	min-height: 290px;
	position: relative;
	display: block;
	overflow: auto;
}

.review-detail {
	claer: both;
}

.review-row {
	font-weight: bold;
	padding-right: 40px;
	position: relative;
	height: auto;
}

.review-row .idx {
	padding-bottom: 10px;
}

.review-stat {
	padding-right: 40px;
	min-wdith: 150px;
	position: relative;
	height: auto;
}

.review-stat .stat {
	padding-bottom: 10px;
}

.bottom-text .recommend {
	float: left;
	margin-right: 30px;
}

.bottom-text .answer {
	float: left;
}

.review-text .txt {
	min-height: 150px;
	width: 710px;
	position: relative;
}

/**********************************/
/*  Search Page CSS  */
/*********************************/
.rec-search {
	width : 100%;
	min-height : 700px;
}

.search-Keyword {
	width: 100%;
	display : inline-block;
}

.search-Keyword input[type="text"] {
	width: auto; /* 원하는 너비 설정 */
	height: auto; /* 높이값 초기화 */
	line-height: normal; /* line-height 초기화 */
	font-family: inherit; /* 폰트 상속 */
	font-size: 30px;
	border: 0px;
	border-radius: 0; /* iSO 둥근모서리 제거 */
	text-align: center;
	outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	appearance: none;
	outline-style: none;
	spellcheck : false !important;
	display : inline-block;
}

.ipt-search-box {
	width : auto;
	display : inline;
}

.clear-Btn {
	color : #fff;
	border : none;
	apperance : none;
	outline : none;
	display : none;
	padding : 0;
	vertical-align : middle;
	margin-bottom : 12px;
	cursor : pointer;
}

.clear-Btn:focus {
	outline : none;
}

.before-result {
	padding-top : 20px;
	min-height: 400px;
}

.before-result span {
	font-size : 30px;
}

.non-result {
	padding-top : 100px;
	font-size: 30px;
	min-height: 400px;
}

.search-reco-channel-list {
	padding-top: 30px;
	display : inline-block;
}

.search-reco-channel {
	width : 270px;
	height : 120px;
	border : 1px solid #eee;
	border-radius : 3px;
	box-shadow: 1px 1px #eeeeee;
	display : inline-block;
	margin-right : 5px;
	margin-bottom : 5px;
}

.search-reco-channel-right {
	width : 270px;
	height : 120px;
	border : 1px solid #eee;
	border-radius : 3px;
	box-shadow: 1px 1px #eeeeee;
	display : inline-block;
}

.search-reco-chnImg {
	display : inline-block;
	padding-left : 18px;
	padding-top : 10px;
	padding-right : 10px;
	vertical-align : middle;
}

.search-reco-chnInfo {
	padding-top : 10px;
	display : inline-block;
	vertical-align : middle;
}

.search-reco-chnInfo .name {
	font-weight : bold;
	font-size : 1.2em;
}

/**********************************/
/*  Review Page CSS  */
/*********************************/
.channel-review {
	padding-right: 240px;
	padding-left: 240px;
}

.ipt-channel-review {
	width: 100%;
}

.ipt-channel-name {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
	spellcheck : false;
}

.ipt-channel-name:focus {
	border: 1px solid #f11834;
	outline: none;
}

.review-commonTxt {
	font-weight: bold;
	padding-bottom: 5px;
}

.review-commonTxt2 {
	font-weight: bold;
}

.review-commonSubTxt {
	color: #707070;
	padding-bottom: 5px;
}

.ipt-Select-Date {
	height: 36px;
	font-size: 1em;
	width: 50%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
	background-color: #fff;
}

.ipt-Select-Date:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Select-CommercialType {
	height: 36px;
	font-size: 1em;
	width: 30%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
	background-color: #fff;
}

.ipt-Select-CommercialType:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Common-Review {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
	spellcheck : false;
}

.ipt-Common-Review:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Commercial-Price {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Commercial-Price:focus {
	border: 1px solid #f11834;
	outline: none;
}

.ipt-Commercial-Url {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
}

.ipt-Commercial-Url:focus {
	border: 1px solid #f11834;
	outline: none;
}

.review-TextArea {
	height: 200px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
	spellcheck : false;
}

.review-TextArea:focus {
	border: 1px solid #f11834;
	outline: none;
}

.review-footer {
	padding-right: 240px;
	padding-left: 240px;
	height: 70px;
}

.review-step1 {
	
}

.review-step2 {
	display: none;
}

.ipt-Select-Reach {
	height: 36px;
	font-size: 1em;
	width: 100%;
	border: 1px solid #b4b4b4;
	border-radius: 3px;
	padding-left: 10px;
	background-color: #fff;
}

.ipt-Select-Reach:focus {
	border: 1px solid #f11834;
	outline: none;
}

/**********************************/
/*  Corp main                CSS */
/*********************************/
.ranc-Corp-Row {
	display: inline-block;
}

.corp-Row {
	color: #b4b4b4;
	font-size: 1.2em;
	padding-right: 30px;
	width: 180px;
}

.corp-Name {
	color: #272727;
	font-size: 1.2em;
	padding-right: 30px;
	width: 180px;
}

.corp-Id {
	color: #272727;
	font-size: 1.2em;
	padding-right: 30px;
	width: 180px;
}

.corp-ReviewCnt {
	color: #272727;
	font-size: 1.2em;
	padding-right: 30px;
	width: 180px;
}

.corp-headerTitle {
	color: #272727;
	font-size: 1.2em;
	text-align: left;
	display: inline-block;
	padding-right: 20px;
}

.corp-ChnReivew-Wait {
	color: #b4b4b4;
}

.corp-ChnReivew-Unaccept {
	color: #f11834;
}

.corp-View-Row {
	display: inline-block;
	width: 210px;
}

.corp-View-Row-Right {
	display: inline-block;
	width: 210px;
}

.corp-MyView {
	display: inline-block;
}

.corp-View-Row-ChnImg {
	width: 60px;
	display: inline-block;
	margin: 0;
}

.corp-View-Row-ChnName {
	width: 150px;
	display: inline-block;
}

.corp-View-Row-Category {
	width: 210px;
	display: inline-block;
}

.corp-View-Row-Subscribe {
	width: 210px;
	display: inline-block;
}

.corp-View-Row-TotalView {
	width: 200px;
	display: inline-block;
}

.corp-View-Row-Like {
	width: 120px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}

.corp-View-Row-DetailGo {
	width: 120px;
	display: inline-block;
	text-align: right;
}

.go-review-list {
	display: inline-block;
	float: right;
	margin-top: auto;
	margin-bottom: auto;
}

.pagination-area {
	width: 100%;
	text-align: center;
}

.common-pagination {
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.common-page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-right: 4px;
	line-height: 1.25;
	color: #747474;
	background-color: #fff;
	border: none;
	line-height: 1.25;
}

.common-page-link:hover {
	z-index: 2;
	border: 1px solid #eee;
	text-decoration: none;
	background-color: #fff;
	color: #747474;
	margin-right: 4px;
	cursor : pointer;
}

.common-page-link:focus {
	z-index: 2;
	outline: 0;
	border: solid 1px #f11834;
	background-color: #fff;
	font-weight: bold;
	color: #f11834;
	margin-right: 4px;
}

.common-page-link.active {
	z-index: 2;
	outline: 0;
	border: solid 1px #f11834;
	background-color: #fff;
	color: #f11834;
	font-weight: bold;
	margin-right: 4px;
	cursor : default;
}

.common-page-pre, .common-page-next {
	margin-top: auto;
	margin-bottom: auto;
}

.common-page-pre {
	margin-right: 10px;
}

.common-page-next {
	margin-left: 10px;
}

.none-MyReview {
	height: 350px;
	padding-top: 100px;
}

.go-write-review {
	padding-top: 30px;
}

.none-View-List {
	height: 350px;
	padding-top: 100px;
}

.none-Like-List {
	height: 350px;
	padding-top: 100px;
}

.recommend-channel-list {
	padding-top: 30px;
	display : inline-block;
}

.recommend-channel {
	width : 270px;
	height : 120px;
	border : 1px solid #eee;
	border-radius : 3px;
	box-shadow: 1px 1px #eeeeee;
	display : inline-block;
	margin-right : 5px;
}

.recommend-channel-right {
	width : 270px;
	height : 120px;
	border : 1px solid #eee;
	border-radius : 3px;
	box-shadow: 1px 1px #eeeeee;
	display : inline-block;
}

.reco-chnImg {
	display : inline-block;
	padding-left : 15px;
	padding-top : 10px;
	padding-right : 10px;
	vertical-align : middle;
}

.reco-chnInfo {
	padding-top : 10px;
	display : inline-block;
	vertical-align : middle;
}

.reco-chnInfo .name {
	font-weight : bold;
	font-size : 1.2em;
}


/**********************/
/* etc contact us     */
/**********************/

.contact-us {
	min-height : 650px;
}


