@charset "UTF-8";

@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css" );

/**********************************/
/*  rancre Mobile common CSS  */
/*********************************/
body.mbody {
	font-family: -apple-system, 'Nanum Gothic', sans-serif !important;
	font-size: 16px;
	padding: 0;
	height: 100%;
}

.color-white {
	color: white;
}

.color-primary {
	color: #f11834;
}

.w100 {
	width: 100%;
}

.m-pTop {
	padding-top: 10px;
}

.m-v10 {
	height: 10%;
}

.m-v20 {
	height: 20%;
}

.commonA {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #000;
}

.commonA:hover, commonA:active, commonA:visited, commonA:focus {
	text-decoration: none;
}

.commonSpace {
	width: 100%;
	height: 10px;
	background: #eff2f8;
}

.commonMBorder {
	border-bottom: 1px solid #f2f2f2;
}

/**********************************/
/*  rancre Mobile Btn CSS        */
/**********************************/
.commonMobileBtn {
	
}

/**********************************/
/*  rancre Mobile Footer CSS        */
/**********************************/
.rac-m-Footer {
	width: 100%;
	height: 116px;
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
}

.rac-m-footer-info {
	padding-top: 14px;
	padding-right: 15px;
	padding-left: 15px;
}

.m-footer-content {
	display: inline-block;
	margin-top: 14px;
	padding: 0;
}

.m-footer-list-first {
	display: inline-block;
	list-style-type: none;
}

.m-footer-list {
	display: inline-block;
	list-style-type: none;
}

.m-footer-list:before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 10px 7px 0 8px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	vertical-align: top;
}

/**********************************/
/*  rancre Mobile main CSS        */
/**********************************/

/*  rancre header                **/
.rac_m_header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 768px;
	height: 56px;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
	text-align: center;
	z-index: 100;
}

.rac_m_search {
	padding-top: 15px;
	padding-left: 15px;
	top: 0;
	left: 0;
	border: 0;
	cursor: pointer;
	float: left
}

.rac_m_sideMenu {
	padding-top: 15px;
	padding-right: 15px;
	top: 0;
	left: 0;
	border: 0;
	cursor: pointer;
	float: right
}

.rac_m_headBrand {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: 600;
	padding-top: 11px;
	width: 50%;
}

/* rancre middle       */
.rac_m_Top100 {
	width: 100%;
	background: #fff;
	padding-top: 56px;
}

.rac_m_Top100_Top {
	width: 100%;
	height: 100px;
	padding-top: 20px;
	padding-left: 15px;
	overflow: hidden;
	border-bottom: 1px solid #f2f2f2;
}

.rac_m_Top100_Top .title {
	font-size: 1em;
}

.rac_m_Top100_Contents {
	width: 100%;
	background: #fff;
}

.rac_m_Top100_Contents .content {
	padding: 12px 15px 12px 15px;
	display: table;
	width: 100%;
	border-bottom: 1px solid #f5f5f5;
}

.rac_m_Top100_Contents .content .img {
	width: 48px;
	border-radius: 100%;
	overflow: hidden;
	padding: 0;
	list-style-type: none;
}

.rac_m_Top100_Contents .content .diff {
	display: table-cell;
	vertical-align: middle;
	width: 40px;
	padding-left: 0;
	padding-top: 3px;
	text-align: left;
	margin-left: -20px;
}

.rac_m_Top100_Contents .content .diff .count {
	font-weight: bold;
}

.rac_m_Top100_Contents .content .diff .mark {
	background-color: #fff;
	padding: 0;
	font-size: 1em;
}

.rac_m_Top100_Contents .content .title_sub {
	display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
	text-align: left;
}

.rac_m_Top100_Contents .content .icon {
	display: table-cell;
	vertical-align: middle;
	width: 40px;
	padding-left: 0;
	text-align: right;
}

.rac_m_bottom {
	height: 50px;
	width: 100%;
	display: table;
}

.rac_m_more_channel {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
}

/*****************************/
/* Rancre mobile search ******/
/*****************************/
.rac-m-search {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 768px;
	z-index: 10;
}

.rac-m-search-form {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	background-color: #fff;
}

.rac-m-search-space {
	position: relative;
	display: block;
	margin: 0 55px 0 10px;
	height: 36px;
}





