<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">

  	<servlet>
		<servlet-name>AdminView</servlet-name>
		<servlet-class>com.rancre.view.AdminView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminView</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	           
 	<servlet>
		<servlet-name>ChannelView</servlet-name>
		<servlet-class>com.rancre.view.ChannelView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChannelView</servlet-name>
		<url-pattern>/channel</url-pattern>
	</servlet-mapping>
	        
	<servlet>
		<servlet-name>CommonView</servlet-name>
		<servlet-class>com.rancre.view.CommonView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommonView</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NoticeView</servlet-name>
		<servlet-class>com.rancre.view.NoticeView</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NoticeView</servlet-name>
		<url-pattern>/notice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberView</servlet-name>
		<servlet-class>com.rancre.view.MemberView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberView</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.rancre.util.UrlPath</listener-class>
	</listener>
	
</web-app>
