<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="honbabin" version="2.5">

	<servlet>
		<servlet-name>CommonView</servlet-name>
		<servlet-class>com.deep.view.CommonView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CommonView</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FeedView</servlet-name>
		<servlet-class>com.deep.view.FeedView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FeedView</servlet-name>
		<url-pattern>/feed</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FollowView</servlet-name>
		<servlet-class>com.deep.view.FollowView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FollowView</servlet-name>
		<url-pattern>/follow</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NoticeView</servlet-name>
		<servlet-class>com.deep.view.NoticeView</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NoticeView</servlet-name>
		<url-pattern>/notice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberView</servlet-name>
		<servlet-class>com.deep.view.MemberView</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberView</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>main</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.deep.util.UrlPath</listener-class>
	</listener>
	
</web-app>
